<div class="sidenav background-light" fxLayout="column">
  <img src="/assets/images/logo.png" alt="QualWeb logo">
  <nav class="navigation" fxLayout="column">
    <a routerLink="/">Home</a>
    <a routerLink="/html-techniques">HTML techniques</a>
    <a routerLink="/css-techniques">CSS techniques</a>
    <a routerLink="/best-practices">Best practices</a>
  </nav>
  <span fxFlex></span>
  <div>
    <label for="language">Language</label>
    <select id="language">
      <option value="pt">pt</option>
      <option value="en">en</option>
    </select>
  </div>
</div>